fastapi
uvicorn
fastapi-users[sqlalchemy]
fastapi-users[sqlalchemy2]
fastapi-users[authentication]
fastapi-users[jwt]
sqlalchemy
aiomysql
pydantic
pydantic-settings
python-dotenv
requests
linode_api4
paramiko